.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  width: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.copyright{
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 13px;
  margin-top: 10px;
  z-index: 1000;
  color: black;
  background-color: white;
}